@page
@model DevExtremeWebPackDemo1.Pages.ReactPage

@{
    Layout = "_ReactLayout";
}

@section Scripts
{
    <link rel="stylesheet" href="~/dist/reactPage.css"/>
}

<div id='app'></div>
<script src="~/dist/reactPage.bundle.js"></script>