@page
@using MiChef.Vite.Controllers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MiChef.Vite.Pages.ReactNoteModel
@inject ViteManifest ViteManifest

<div id="root"></div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("Shared/_IncludeViteBundle", ViteManifest.GetManifest("pages/ReactNote/index.jsx"));  
    }
}