
@(Html.DevExtreme().FileManager()
    .CurrentPath("Widescreen")
    .FileSystemProvider(provider => provider
        .Remote()
        .Url(Url.RouteUrl("FileManagementImagesApi")))
    .Permissions(permissions => permissions
        .Create(true)
        .Copy(true)
        .Move(true)
        .Delete(true)
        .Rename(true)
        .Upload(true)
        .Download(true))
    .OnSelectedFileOpened("openSelectedFile")
    .Height(450))

@(Html.DevExtreme().Popup()
    .ID("photo-popup")
    .MaxHeight(600)
    .OnContentReady("initializePhotoPopup")
    .CloseOnOutsideClick(true))

<script type="text/javascript">

function openSelectedFile(e) {
    const popup = $("#photo-popup").dxPopup("instance");
    popup.option({
    "title": e.file.name,
    "contentTemplate": `
<div>
    <h2>아이, 이뻐라</h2>
    <img src="${e.file.dataItem.url}" class="photo-popup-image"  alt="?"/>
</div>
`
    });
    popup.show();
}

function initializePhotoPopup(e) {
    console.log(e)
    const $contentElement = e.component.content();
    $contentElement.addClass("photo-popup-content");
}

</script>